
            body {
                min-width: 210mm;
                max-width: 210mm;
                min-height: 30mm;
                max-height: 30mm;
                padding: 0;
            }
            footer {
                min-width: 200mm;
                max-width: 200mm;
                min-height: 30mm;
                max-height: 30mm;
                margin-left: 5mm;
                margin-right: 5mm;
            }
        