body {
    min-width: 210mm;
    max-width: 210mm;
    min-height: 30mm;
    max-height: 30mm;
    padding: 0;
    margin: 0;
}
header {
    min-width: 200mm;
    max-width: 200mm;
    min-height: 30mm;
    max-height: 30mm;
    margin-left: 5mm;
    margin-right: 5mm;
}

.container {
    display: table;
    width: 100%;
}

.unicoachLogo {
    height: 20mm;
    display: table-cell;
    vertical-align: middle;
}

.clubLogo {
    height: 29mm;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

img {
    height: 100%;
}